.one {
    position: fixed;
    top:0;
    right:0;
}

.two {
    position: fixed;
    top:0;
    left:0;
}

.form-group {
    margin: 0 auto;
    width: 500px;
}

button {
    margin-top: 100px;
}

/*.lastname {display:block;
margin-top : 50px;}*/

label {
    width: 100px;
}

.lastname, .firstname {
    width: 100px;
    margin-top: 50px;
}

